@*https://www.youtube.com/watch?v=vkqZC_rEkVA*@

<html>
    <body>
        <hi>Dynamically Add &Aacute; Remove Table Rows</hi>
        <form>
            <div class="input-row">
                <label for="url">Url</label>
                </br>
                <input type="url" name="url" id="url" />
            </div>
            <div class="input-row">
                <label for ="website">Website Name</label>
                </br>
                <input type="text" name="website" id="website" />
            </div>
            </br>
            <button>Submit</button>
        </form>
    </br>
        <table class="table">
            <thead>
                <tr>
                    <th>Url</th>
                    <th> Website</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <script>
            const formEl = document.querySelector("form");
            const tbodyEl = document.querySelector("tbody");
            const tableEl = document.querySelector("table");

            function onAddWebsite(e) {
                e.preventDefault();

                const website = document.getElementById('website').value;
                const url = document.getElementById('url').value;
                tbodyEl.innerHTML +=
                    "<tr> " +
                    "<td> '${url}' </td>" +
                    "<td> '${website}' </td>" +
                    "<td> <button class=deleteBtn>Delete<button> </td>" +
                    "</tr>";
            }

            function onDeleteRow(e) {
                if (!e.target.classList.contains("deleteBtn")) {
                    return;
                }
                const btn = e.target;
                debugger;
                btn.classList("tr").remove();

            }

            formEl.addEventListener("submit", onAddWebsite)
            tableEl.addEventListener("click", onDeleteRow)
        </script>
</body>
</html>

